* {
    box-sizing: border-box;
}

body {
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    background-image: url(../images/concrete_seamless.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0;
    overflow: hidden;
    background-color: #fff;
    float: right;
}

li {
    float: right;
    border-right:1px solid #cccccc;
}

li:first-child {
    border-right: none;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #4AB4DD;
}

.active {
    color: #4aaaa5;
}

h1 {
    font-size: 2em; 
    float: left;
    margin: 0;
}

#name {
    color: #fff;
    background-color: #4aaaa5;
    padding: 30px; 
}

#about {
    color: #4aaaa5;
    _padding-bottom: 20px;
    _width: 100%;
    _border-bottom: 1px solid #cccccc;
}

header {
    overflow: hidden;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #fff;
    width: 960px;
    margin: 0 auto;
}

div.full {
    border-bottom: 1px solid #cccccc;
    background-color: #fff;
}

div.content {
    width:960px;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    overflow: hidden;
    border: 1px solid #dddddd;
}

div.aboutHeader {
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

div.blue {
    background-color: #4AB4DD;
    height: 96px;
    position: relative;
}

div.grey {
    background-color: #666;
    height: 80px;
    padding-top: 16px;
    position: absolute;
    top: 16px;
    width: 100%;
}

img {
    float: left;
    padding-top: 20px;
    padding-right: 20px;
    height: 20%;
    width: 20%;
}

.content p {
    padding-top: 20px;
    margin: 0;
}

footer {
    margin-top: 20px;
}

footer p {
    padding-top: 40px;
    text-align: center;
    color:#cccccc;
}